<roundcube:include file="includes/layout.html" />
<roundcube:include file="includes/menu.html" />

<h1 class="voice"><roundcube:label name="roundpad.files" /></h1>

<!-- folders list -->
<div id="layout-sidebar" class="listbox" role="navigation" aria-labelledby="arial-label-folders">
	<div class="header">
		<a class="button icon back-content-button" href="#back" data-hidden="big"><span class="inner"><roundcube:label name="back" /></span></a>
		<span id="aria-label-folders" class="header-title"><roundcube:label name="folders" /></span>
		<roundcube:button name="folderoptions" id="folderoptionslink" type="link"
			title="moreactions" label="actions"
			class="button icon sidebar-menu" innerClass="inner" data-popup="folderoptions" />
	</div>
	<roundcube:object name="libkolab.folder_search_form" id="foldersearch" wrapper="searchbar menu"
		ariatag="h2" label="foldersearchform" buttontitle="roundpad.findfolders" />
	<div id="files-folder-list" class="scroller"></div>
<roundcube:if condition="env:files_quota" />
	<div class="footer small">
		<div id="quotadisplay" class="quota-widget">
			<span class="voice"><roundcube:label name="quota"></span>
			<roundcube:object name="filequotadisplay" class="count" display="text" />
		</div>
	</div>
<roundcube:endif />
</div>

<!-- files -->
<div id="layout-content" class="selected no-navbar" role="main">
	<h2 id="aria-label-toolbar" class="voice"><roundcube:label name="arialabeltoolbar" /></h2>
	<div class="header" role="toolbar" aria-labelledby="aria-label-toolbar">
		<a class="button icon task-menu-button" href="#menu"><span class="inner"><roundcube:label name="menu" /></span></a>
		<a class="button icon back-sidebar-button folders" href="#sidebar" data-hidden="big"><span class="inner"><roundcube:label name="folders" /></span></a>
		<span class="header-title"></span>
		<!-- toolbar -->
		<div id="filestoolbar" class="toolbar menu">
			<roundcube:button id="fileslistmenu-link" name="fileslistmenu-link"
				type="link" onclick="roundpad_listoptions('files')"
				label="options" class="options" innerClass="inner" />
			<roundcube:button id="sessionslistmenu-link" name="sessionslistmenu-link"
				type="link" onclick="roundpad_listoptions('sessions')"
				label="options" class="hidden settings" innerClass="inner" />
			<span class="spacer"></span>
			<roundcube:button command="files-upload" type="link" onclick="$('#filesuploadform').click()"
				class="upload disabled" classAct="upload"
				label="roundpad.upload" title="roundpad.uploadfile" innerClass="inner" />
			<roundcube:button command="files-get" type="link"
				class="download disabled" classAct="download"
				label="roundpad.get" title="roundpad.getfile" innerClass="inner" />
			<roundcube:button command="files-open" type="link"
				class="open disabled" classAct="open"
				label="roundpad.view" title="roundpad.viewfile" innerClass="inner" />
			<roundcube:button command="files-edit" type="link"
				class="edit disabled" classAct="edit"
				label="roundpad.edit" title="roundpad.editfile" innerClass="inner" />
			<roundcube:button command="files-create" type="link" data-fab="true"
				class="create disabled" classAct="create"
				label="roundpad.create" title="roundpad.createfile" innerClass="inner "/>
			<roundcube:button command="files-delete" type="link"
				class="delete disabled" classAct="delete"
				label="delete" title="roundpad.deletefile" innerClass="inner" />
			<roundcube:button name="filemenulink" id="filemenulink" type="link"
				class="more" label="more" title="moreactions"
				data-popup="file-menu" innerclass="inner" />
		</div>
	</div>
	<roundcube:object name="file-search-form" id="searchform" wrapper="searchbar menu"
		label="searchform" buttontitle="roundpad.findfiles" label-domain="roundpad"
		ariatag="h3" options="filesearchmenu" />
	<div id="filesearchmenu" class="hidden searchoptions scroller propform formcontainer" aria-labelledby="aria-label-search-menu" aria-controls="filelist">
		<h3 id="aria-label-search-menu" class="voice"><roundcube:label name="searchmod" /></h3>
		<div class="formcontent">
			<ul class="proplist">
				<li><label><input type="checkbox" name="all_folders" value="1" id="search_all_folders" /><roundcube:label name="roundpad.allfolders" /></label></li>
			</ul>
		</div>
		<div class="formbuttons">
			<button type="button" class="btn btn-primary icon search" onclick="return rcmail.command('files-search')"><roundcube:label name="search" /></button>
		</div>
	</div>
	<div id="filelistcontainer" class="content" role="main" aria-labelledby="aria-label-filelist" data-elastic-mode="true">
		<h2 id="aria-label-filelist" class="voice"><roundcube:label name="roundpad.arialabelfilelist" /></h2>
		<div id="filelistbox" class="droptarget">
			<roundcube:object name="filelist" id="filelist" class="records-table listing filelist sortheader fixedheader"
				aria-labelledby="aria-label-filelist" data-list="fileslist"
				data-label-msg="listempty" data-label-ext="listusebutton" data-create-command="files-create" />
		</div>
		<h2 id="aria-label-sessionslist" class="voice"><roundcube:label name="roundpad.arialabelsessionslist" /></h2>
		<div id="sessionslistbox" class="boxlistcontent" style="display:none">
		<roundcube:object name="sessionslist" id="sessionslist" class="records-table listing filelist sortheader fixedheader"
			optionsmenuIcon="true" aria-labelledby="aria-label-sessionslist" data-label-msg="listempty" />
		</div>
	</div>
</div>

<form id="filesuploadform" class="smart-upload"></form>

<div id="files-folder-create-dialog" class="popupmenu formcontent" role="dialog" aria-labelledby="aria-label-foldercreateform">
	<h3 id="aria-label-foldercreateform" class="voice"><roundcube:label name="roundpad.arialabelfoldercreateform" /></h3>
	<roundcube:object name="folder-create-form" />
</div>
<div id="files-folder-edit-dialog" class="popupmenu formcontent" role="dialog" aria-labelledby="aria-label-foldereditform">
	<h3 id="aria-label-foldereditform" class="voice"><roundcube:label name="roundpad.arialabelfoldereditform" /></h3>
	<roundcube:object name="folder-edit-form" />
</div>
<div id="files-folder-mount-dialog" class="popupmenu formcontent" role="dialog" aria-labelledby="aria-label-foldermountform">
	<h3 id="aria-label-foldermountform" class="voice"><roundcube:label name="roundpad.arialabelfoldermountform" /></h3>
	<roundcube:object name="folder-mount-form" />
</div>
<div id="files-file-rename-dialog" class="popupmenu formcontent" role="dialog" aria-labelledby="aria-label-filerenameform">
	<h3 id="aria-label-filerenameform" class="voice"><roundcube:label name="roundpad.arialabelfilerenameform" /></h3>
	<roundcube:object name="file-rename-form" />
</div>
<div id="files-file-create-dialog" class="popupmenu formcontent" role="dialog" aria-labelledby="aria-label-filecreateform">
	<h3 id="aria-label-filecreateform" class="voice"><roundcube:label name="roundpad.arialabelfilecreateform" /></h3>
	<roundcube:object name="file-create-form" />
</div>
<div id="files-folder-auth-dialog" class="popupmenu formcontent" role="dialog" aria-labelledby="aria-label-folderauthform">
	<h3 id="aria-label-folderauthform" class="voice"><roundcube:label name="roundpad.arialabelfolderauthform" /></h3>
	<roundcube:object name="folder-auth-options" />
</div>
<div id="files-file-edit-dialog" class="popupmenu formcontent" role="dialog" aria-labelledby="aria-label-fileeditdialog">
	<h3 id="aria-label-fileeditdialog" class="voice"><roundcube:label name="roundpad.arialabelfileeditdialog" /></h3>
	<roundcube:object name="file-edit-dialog" />
</div>
<div id="files-session-dialog" class="popupmenu formcontent" role="dialog" aria-labelledby="aria-label-filesessiondialog">
	<h3 id="aria-label-filesessiondialog" class="voice"><roundcube:label name="roundpad.arialabelfilesessiondialog" /></h3>
	<roundcube:object name="file-session-dialog" />
</div>

<div id="folderoptions" class="popupmenu" data-editable="true">
	<h3 id="aria-label-folderoptions" class="voice"><roundcube:label name="roundpad.folderoptions" /></h3>
	<ul class="menu listing" role="menu" aria-labelledby="aria-label-folderoptions">
		<roundcube:button type="link-menuitem" command="folder-create" label="roundpad.addfolder" class="create disabled" classAct="create active" />
		<roundcube:button type="link-menuitem" command="folder-rename" label="roundpad.folderrename" class="rename disabled" classAct="rename active" />
		<roundcube:if condition="env:files_api_version &gt; 3" />
			<roundcube:button type="link-menuitem" command="folder-share" label="roundpad.foldershare" class="share disabled" classAct="share active" />
		<roundcube:endif />
		<roundcube:button type="link-menuitem" command="files-folder-delete" label="roundpad.folderdelete" class="delete disabled" classAct="delete active" />
		<roundcube:button type="link-menuitem" command="folders" task="settings" label="managefolders" class="folders disabled" classAct="folders active" />
		<roundcube:if condition="!empty(env:external_sources)" />
			<roundcube:button type="link-menuitem" command="folder-mount" label="roundpad.foldermount" class="mount storage disabled" classAct="mount storage active" />
		<roundcube:endif />
	</ul>
</div>

<roundcube:add_label name="roundpad.arialabellistoptions" />
<div id="fileslistoptions" class="propform popupmenu" role="dialog" aria-labelledby="aria-label-fileslistoptions">
	<h3 id="aria-label-fileslistoptions" class="voice"><roundcube:label name="roundpad.arialabellistoptions" /></h3>
	<roundcube:if condition="!in_array('roundpad_sort_col', (array)config:dont_override)" />
	<div class="form-group row">
		<label for="listoptions-sortcol" class="col-form-label col-sm-4"><roundcube:label name="listsorting" /></label>
		<div class="col-sm-8">
			<select name="sort_col" class="form-control">
				<option value="name"><roundcube:label name="roundpad.name" /></option>
				<option value="mtime"><roundcube:label name="roundpad.mtime" /></option>
				<option value="size"><roundcube:label name="size" /></option>
			</select>
		</div>
	</div>
	<roundcube:endif />
	<roundcube:if condition="!in_array('roundpad_sort_order', (array)config:dont_override)" />
	<div class="form-group row">
		<label for="listoptions-sortcol" class="col-form-label col-sm-4"><roundcube:label name="listorder" /></label>
		<div class="col-sm-8">
			<select class="form-control">
				<option value="ASC"><roundcube:label name="asc" /></option>
				<option value="DESC"><roundcube:label name="desc" /></option>
			</select>
		</div>
	</div>
	<roundcube:endif />
</div>

<roundcube:add_label name="roundpad.arialabelsessionslistoptions" />
<div id="sessionslistoptions" class="propform popupmenu" role="dialog" aria-labelledby="aria-label-sessionslistoptions">
	<h3 id="aria-label-sessionslistoptions" class="voice"><roundcube:label name="roundpad.arialabelsessionslistoptions" /></h3>
	<roundcube:if condition="!in_array('roundpad_sessions_sort_col', (array)config:dont_override)" />
	<div class="form-group row">
		<label for="listoptions-sortcol" class="col-form-label col-sm-4"><roundcube:label name="listsorting" /></label>
		<div class="col-sm-8">
			<select name="sort_col" class="form-control">
				<option value="name"><roundcube:label name="roundpad.name" /></option>
			</select>
		</div>
	</div>
	<roundcube:endif />
	<roundcube:if condition="!in_array('roundpad_sessions_sort_order', (array)config:dont_override)" />
	<div class="form-group row">
		<label for="listoptions-sortcol" class="col-form-label col-sm-4"><roundcube:label name="listorder" /></label>
		<div class="col-sm-8">
			<select class="form-control">
				<option value="ASC"><roundcube:label name="asc" /></option>
				<option value="DESC"><roundcube:label name="desc" /></option>
			</select>
		</div>
	</div>
	<roundcube:endif />
</div>

<div id="dragfilemenu" class="popupmenu">
	<ul class="menu listing" role="menu">
		<roundcube:button type="link-menuitem" command="files-move" onclick="return roundpad_drag_menu_action('files-move')" label="move" classAct="active" />
		<roundcube:button type="link-menuitem" command="files-copy" onclick="return roundpad_drag_menu_action('files-copy')" label="copy" classAct="active" />
	</ul>
</div>

<div id="file-menu" class="popupmenu">
	<h3 id="aria-label-message-menu" class="voice"><roundcube:label name="roundpad.arialabelmorefileactions" /></h3>
	<ul class="menu listing" role="menu" aria-labelledby="aria-label-file-menu">
		<roundcube:button type="link-menuitem" command="files-rename" label="roundpad.rename" class="rename disabled" classAct="rename active" />
		<roundcube:button type="link-menuitem" command="files-move" label="moveto" class="move disabled" classAct="move active" innerclass="folder-selector-link" aria-haspopup="true" />
		<roundcube:button type="link-menuitem" command="files-copy" label="copyto" class="copy disabled" classAct="copy active" innerclass="folder-selector-link" aria-haspopup="true" />
	</ul>
</div>

<script src="plugins/roundpad/skins/elastic/ui.js" type="text/javascript"></script>

<roundcube:include file="includes/footer.html" />
